
<body>
<h1> Bem vindo a homepage do projeto monitor.</h1>
<p>O projeto monitor tem como objetivo permitir a visualização dos dados de consumo da UFRJ.</p>

<p>Para realizar a busca pelos dados de consumo, selecione o intervalo da medição.</p>

<%= link_to "Realizar busca", iniciarbusca_path, class: 'btn btn-default' %>

<p> Para mais detalhes sobre o projeto clique <%= link_to "aqui", sobre_path %>. </p>
</body>