<h1>Sobre</h1>

<h2>O que é o projeto monitor?</h2>
<p>É um projeto desenvolvido por alunos da Universidade Federal do Rio de Janeiro (UFRJ) que tem como objetivo 2 coisas:</p>
<ul>
    <li>Permitir que a população tenha acesso aos dados de consumo de energia da UFRJ, como previsto na lei de acesso à informação (LEI Nº 12.527, DE 18 DE NOVEMBRO DE 2011). </li>
    <li>Dar aos orgãos administrativos meios de mapear as demandas de consumo de energia e assim elaborar soluções acuradas para os problemas de consumo da instituição da UFRJ.</li>
</ul>

<p>Para realizar uma busca, clique no botão ao lado: <%= link_to "Fazer busca", iniciarbusca_path, class: 'btn btn-default' %></p>

<p>Atuais responsáveis pelo projeto (página a criar)</p>

<p>Clique <%= link_to "aqui", localmedidores_path%> para ver a localização dos medidores de energia</p>