
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font: Verdana, sans-serif;
  font-size: 26px;
  font-weight: 700;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  a {
    color: #2F363E;
  }
}
.height-50 {
    height: 50px;
}
.nopadding {
   padding: 0 0 0 0 !important;
   margin: 0 0 0 0 !important;
}
#main_content {
  font: 20px Verdana, sans-serif;
  background-color: #F0F8FF;
  #content {
    float: none;
  }
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  .link {
    padding: 2em 1em;
    border-bottom: 1px solid #e9e9e9;
    .title {
      a {
        color: #FF4500;
      }
    }
  }
}
#tablehead {
  font: 20px Verdana, sans-serif;
}
#footer {
  border-style: solid;
  border-color: #E7E7E7;
  position: fixed;
  bottom: 0px;
  padding-bottom: 0;
  background-color: #F8F8F8;
  font: 200% Verdana, sans-serif;
  height: 10%;
  width: 100%;
}